@import './preset/mixin';

/**
  @container: 父層, 
  @paramList: 一個物件陣列，包含 stru(子層class不含父層的名稱)key和 param(flex值) key
  @contentName: 子層內部樣式
  
*/
@mixin flex($container, $paramList, $contentName) {
  #{$container} {
    width: 100%;
    display: flex;

    @debug $paramList;

    @each $arg in $paramList {
      &#{map-get($arg, 'stru')} {
        @if map-get($arg, 'param') == 1 {
          flex: 1;
        } @else {
          flex: none;
          width: #{map-get($arg, 'param')};
        }

        @extend #{$contentName}#{map-get($arg, 'stru')}; // TODO 可寫不可寫，在考慮要不要拔掉
      }
    }
  }
}

.box-content {
  &__left {
    color: #f00;
  }

  &__center {
    color: #0f0;
  }

  &__center2 {
    color: #f00;
  }

  &__right {
    color: #00f;
  }
}

@include rwd(tablet) {
  .box-content {
    &__left {
      color: #999;
    }

    &__center {
      color: #bbb;
    }

    &__right {
      color: #222;
    }
  }
}

$boxList: (
    stru: '__left',
    param: '100px',
  ),
  (
    stru: '__center',
    param: 1,
  ),
  (
    stru: '__center2',
    param: '150px',
  ),
  (
    stru: '__right',
    param: '100px',
  );

@include flex('.box', $boxList, '.box-content');
